body{
  font-family: "acumin-pro", Arial, Helvetica, sans-serif;
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main{
  position: relative;
  width: 100%;
  height: 100%;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 3rem;
  box-sizing: border-box;
}
.image-left, .image-right{
  position: absolute;
}
.image-left{
  top: 0;
  left: 0;
  height: 100%;
}
.image-left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-right{
  bottom: 0;
  right: 0;
  z-index: -1
}
.content-center{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-center p {
  color: #fff;
  margin-top: 110px;
  text-align: center;
  font-size: 15px;
  font-family: "acumin-pro", Arial, Helvetica, sans-serif;
}
.content-center p a {
  color: #fff;
  text-decoration: none;
}
.content-center img {
  width: 625px;
  height: auto;
}
.social-btn {
  position: absolute;
  top: 10rem;
  right: 1rem;
}
.social-btn a{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
}
.social-btn a span{
  margin-left: 12px;
  font-size: 12px;
}

@media only screen and (max-width: 991px) {
  .image-right{
    display: none;
  }
  .social-btn {
    top: 3rem;
    right: 3rem;
  }
}
@media only screen and (max-width: 768px){
  .image-left, .image-right{
    display: none;
  }
  .content-center img {
    width: 260px;
    height: auto;
  }
  .social-btn {
    top: 3rem;
    right: 4rem;
  }
  .social-btn a span{
    display: none;
  }
}